@import (reference) '../../styles/variables.less';

.@{prefix}-header {
  position: relative;
  z-index: 10;

  &:not([data-static]) {
    top: 0;
    position: sticky;
    background-color: fadeout(@c-site-bg, 10%);
    backdrop-filter: blur(6px);
  }

  &-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
    max-width: @s-content-width;
    height: @s-header-height;
    box-sizing: border-box;
  }

  &-left {
    width: @s-sidebar-width;
  }

  &-right {
    flex: 1;
    display: flex;
    justify-content: space-between;

    &-aside {
      display: flex;
      align-items: center;
    }
  }
}
