/node_modules
/coverage
/packages/*/es
/packages/*/lib
/packages/*/node_modules
/packages/*/.local
/.local
/packages/**/node_modules
/packages/preset-dumi/src/fixtures/build/*/dist
/packages/preset-dumi/src/fixtures/e2e/normal/.doc
/packages/preset-dumi/src/fixtures/e2e/normal/.docz
/.changelog
yarn.lock
package-lock.json
dist
/.idea
/.vscode
.eslintcache
.umi
.umi-production
.umi-test
.now
.DS_Store
