@import (reference) 'dumi/theme-default/styles/variables.less';

.@{prefix}-mobile-previewer {
  display: flex;
  margin-bottom: 24px;
  width: 100%;
  flex-direction: row-reverse;
  align-items: stretch;
  overflow: hidden;

  @media @tablet {
    max-height: 600px;
  }

  @media @mobile {
    display: block;
  }

  &-demo {
    border-left: dashed 1px @c-border-light;
    padding: 0;
  }

  &-meta {
    flex: 1;
  }
}
