@import (reference) './variables.less';

ul[role='slug-list'] {
  &:empty {
    margin: 0 !important;
    padding: 0 !important;
  }

  li {
    &.active a {
      color: darken(@c-primary, 2%);
    }

    &[data-depth='3'] {
      padding-left: 12px;
    }
  }
}
