@import './markdown.less';

@s-menu-width: 300px;
@s-content-margin: 64px;

body {
  margin: 0;
}

:global {
  .markdown-body .anchor .octicon {
    font-size: 20px;
  }
}

.wrapper {
  min-height: 100vh;
  padding: 16px @s-content-margin 50px @s-menu-width + @s-content-margin;

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: @s-menu-width;
    border-right: 1px solid #eee;
    box-sizing: border-box;
  }
}
