[package]
name = "swc_plugin_react_demo"
version = "0.0.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[profile.release]
lto = true

[dependencies]
swc_core = { version = "0.69.*", features = [
  "ecma_plugin_transform",
  "ecma_visit",
  "ecma_ast",
  "common",
]}
