@import (reference) '../../styles/variables.less';

body {
  margin: 0;
  padding: 0;
  background-color: #f7f9fb;
}

.dumi-default-doc-layout {
  max-width: @s-content-width;
  margin: 0 auto;
  padding: 0 24px;

  > main {
    display: flex;
  }
}
