@import (reference) '../../styles/variables.less';

.@{prefix}-features {
  margin: 0 auto 48px;
  max-width: @s-content-width;
  padding: 0 24px;
  overflow: hidden;
  box-sizing: border-box;

  &[data-cols='2'] > &-item {
    width: 46%;

    &:nth-child(odd) {
      margin-inline-end: 8%;
    }

    @media @mobile {
      width: 100%;
      margin-inline-end: 0;
    }
  }

  &[data-cols='3'] > &-item {
    width: 31.4%;

    &:not(:nth-child(3n)) {
      margin-inline-end: 2.9%;
    }

    @media @mobile {
      width: 100%;
      margin-inline-end: 0;
    }
  }

  &-item {
    margin: 12px 0;
    float: left;

    > i {
      font-size: 64px;
      font-style: normal;

      @media @mobile {
        font-size: 48px;
      }
    }

    > h3 {
      margin: 4px 0;
      color: @c-text;
      font-weight: normal;
      font-size: 20px;

      @{dark-selector} & {
        color: @c-text-dark;
      }

      a {
        color: @c-primary;

        @{dark-selector} & {
          color: @c-primary-dark;
        }

        &:not(:hover) {
          text-decoration: none;
        }
      }

      @media @mobile {
        font-size: 18px;
      }
    }

    > p {
      margin: 12px 0;
      color: @c-text-secondary;
      font-size: 16px;
      line-height: 1.475;

      @{dark-selector} & {
        color: @c-text-secondary-dark;
      }

      @media @mobile {
        font-size: 14px;
      }

      a {
        color: @c-primary;

        @{dark-selector} & {
          color: @c-primary-dark;
        }

        &:not(:hover) {
          text-decoration: none;
        }
      }
    }
  }
}
