name: Preview Build

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-preview:
    runs-on: ubuntu-latest
    container: node:12

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: build
        run: |
          yarn
          yarn build
          yarn docs:build

      - run: |
          zip -r dist.zip dist

      - name: upload dist artifact
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist.zip
          retention-days: 5

      - name: build mobile
        run: |
          DUMI_THEME=./packages/theme-mobile yarn docs:build

      - run: |
          zip -r dist-mobile.zip dist

      - name: upload dist artifact
        uses: actions/upload-artifact@v2
        with:
          name: dist-mobile
          path: dist-mobile.zip
          retention-days: 5

      - name: Save PR number
        if: ${{ always() }}
        run: echo ${{ github.event.number }} > ./pr-id.txt

      - name: Upload PR number
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: pr
          path: ./pr-id.txt
