name: Release Notify

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Notify for the Dingtalk group 1
        uses: zcong1993/actions-ding@master
        with:
          dingToken: ${{ secrets.DINGTALK_GROUP_TOKEN }}
          secret: ${{ secrets.DINGTALK_GROUP_SIGN }}
          body: |
            {
              "msgtype": "markdown",
              "markdown": {
                  "title": "${{github.event.release.tag_name}} released",
                  "text": "# [${{github.event.release.tag_name}}](${{github.event.release.html_url}}) released:\n${{github.event.release.body}}"
              }
            }
      - name: Notify for the Dingtalk group 2
        uses: zcong1993/actions-ding@master
        with:
          dingToken: ${{ secrets.DINGTALK_GROUP2_TOKEN }}
          secret: ${{ secrets.DINGTALK_GROUP2_SIGN }}
          body: |
            {
              "msgtype": "markdown",
              "markdown": {
                  "title": "${{github.event.release.tag_name}} released",
                  "text": "# [${{github.event.release.tag_name}}](${{github.event.release.html_url}}) released:\n${{github.event.release.body}}"
              }
            }
      - name: Notify for the Dingtalk group 3
        uses: zcong1993/actions-ding@master
        with:
          dingToken: ${{ secrets.DINGTALK_GROUP3_TOKEN }}
          secret: ${{ secrets.DINGTALK_GROUP3_SIGN }}
          body: |
            {
              "msgtype": "markdown",
              "markdown": {
                  "title": "${{github.event.release.tag_name}} released",
                  "text": "# [${{github.event.release.tag_name}}](${{github.event.release.html_url}}) released:\n${{github.event.release.body}}"
              }
            }
      - name: Notify for the Dingtalk group 4
        uses: zcong1993/actions-ding@master
        with:
          dingToken: ${{ secrets.DINGTALK_GROUP4_TOKEN }}
          secret: ${{ secrets.DINGTALK_GROUP4_SIGN }}
          body: |
            {
              "msgtype": "markdown",
              "markdown": {
                  "title": "${{github.event.release.tag_name}} released",
                  "text": "# [${{github.event.release.tag_name}}](${{github.event.release.html_url}}) released:\n${{github.event.release.body}}"
              }
            }
